<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
 
<div class="panel panel-default">
	<div class="panel-heading">
		メールアドレス
	</div>
	<div class="panel-body">
	  <%= @user.email %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
	 　地域
	</div>
	<div class="panel-body">
	 <%= @user.region %> 
	</div>
</div>